<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Разблокировать для корректного отображение-->
<!--    <link rel="stylesheet" href="../vendors/normalize.css">-->
<!--    <link rel="stylesheet" href="../../layout/_header.css">-->
<!--    <link rel="stylesheet" href="../cta/styles.css">-->
<!--    <link rel="stylesheet" href="../logo/styles.css">-->
<!--    <link rel="stylesheet" href="../ellipse/styles.css">-->
    <title>Header</title>
</head>
<body>
<header class="header">

    <div class="header__overlay"></div>
    <div class="header__king"></div>
    <div class="header__queen"></div>
    <div class="header__city"></div>
    <div class="header__knight"></div>
    <div class="header__pawn"></div>

    <div class="header__wrapper">
        <!--Logo-->
        <div class="logo">
            <a href="#" target="_blank" class="logo__link">
                <img class="logo__img" src="../../assets/desktop/logo_desktop.png"
                     alt="Логотип шахматного клуба"/>
            </a>
        </div>
        <div class="cta__group">
            <!--CTA-->
            <div class="cta__wrapper">
                <div class="cta__inner">
                    <h2 class="cta__heading">
                        <span class="cta__text cta__text_top">Превратите уездный город</span>
                        <span class="cta__text cta__text_middle">в столицу</span>
                        <span class="cta__text cta__text_bottom">земного шара</span>
                    </h2>
                    <p class="cta__paragraph">Оплатите взнос на телеграммы для организации Международного васюкинского
                        турнира по шахматам</p>
                    <div class="cta__btn-wrapper">
                        <a href="#" class="cta__btn cta__btn_left">Поддержать
                            <wbr>
                            шахматную мысль</a>
                        <a href="#" class="cta__btn cta__btn_right">Подробнее
                            <wbr>
                            о турнире</a>
                    </div>
                </div>
            </div>
            <!--Ellipse-->
            <div class="ellipse">
                <div class="ellipse__wrapper">
                    <img class="ellipse__img ellipse__img-ellipse" src="../../assets/desktop/ellipse_desktop.png"
                         alt="Круг желтого цвета"/>
                </div>
                <div class="ellipse__text">
                    <img class="ellipse__img ellipse__img-text" src="../../assets/desktop/circle-text_desktop.png"
                         alt="Текст по кругу"/>
                </div>
            </div>
        </div>
    </div>

</header>
</body>
</html>