<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Разблокировать для корректного отображение-->
<!--    <link rel="stylesheet" href="../vendors/normalize.css">-->
<!--    <link rel="stylesheet" href="styles.css">-->
    <title>Announcement</title>
</head>
<body>
<div class="container">
    <div class="announcement__wrapper">
        <h3 class="announcement__heading announcement__heading_top">Чтобы поддержать<wbr> Международный васюкинский
            <span class="announcement__hidden_sm">турнир</span>
        </h3>
        <div class="announcement__image"></div>
        <h3 class="announcement__heading announcement__heading_bottom">
            <span class="announcement__hidden_lg">турнир</span> посетите лекцию на тему:
            <wbr><span class="announcement__heading_highlight">&laquo;Плодотворная дебютная идея&raquo;</span>
        </h3>
    </div>
</div>
</body>
</html>