<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Разблокировать для корректного отображение-->
    <!--    <link rel="stylesheet" href="../vendors/normalize.css">-->
    <!--    <link rel="stylesheet" href="styles.css">-->
    <title>Call to action</title>
</head>
<body>
<div class="cta__wrapper">
    <div class="cta__inner">
        <h2 class="cta__heading">
            <span class="cta__text cta__text_top">Превратите уездный город</span>
            <span class="cta__text cta__text_middle">в столицу</span>
            <span class="cta__text cta__text_bottom">земного шара</span>
        </h2>
        <p class="cta__paragraph">Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам</p>
        <div class="cta__btn-wrapper">
            <a href="#" class="cta__btn cta__btn_left">Поддержать<wbr>шахматную мысль</a>
            <a href="#" class="cta__btn cta__btn_right">Подробнее<wbr>о турнире</a>
        </div>
    </div>
</div>
</body>
</html>