<!DOCTYPE html>
<html lang="en" style="
      --counter-height: 36px;
      --text-left-offset: 16px;
      ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
    <link rel="stylesheet" href="../../../dist/styles.css">
    <title>Grid</title>
</head>
<body>
<div class="mx-auto w-full max-w-[1222px] px-5">
    <div class="flex flex-col mb-[54px]">
        <span class="w-auto font-Merriweather uppercase text-[54px] font-normal leading-[65px]">Этапы преображения</span>
        <div>
            <span class="w-auto font-Merriweather uppercase text-[54px] font-normal leading-[64px]">Васюков</span>
            <span class="inline-block w-[280px] ml-4 text-xl leading-6 text-yac-blue-100 font-normal">Будущие источники обогащения
                васюкинцев</span>
        </div>
    </div>
    <div class="grid gap-5 row-auto font-Golos auto-rows-[minmax(112px,1fr)] grid-cols-[repeat(3,minmax(394px,1fr))]">
        <div class="relative bg-[url('../../assets/common/CooperUnionStampPaper.png'),url('../../assets/common/bg.png')] pl-[calc(var(--counter-height)+20px)] py-5 pr-5 before:absolute before:flex before:items-center before:top-5 before:left-5 before:justify-center before:content-['1'] before:w-9 before:h-9 before:rounded-full before:bg-white">
            <p class="ml-4 text-left text-xl leading-6 font-medium">Строительство железнодорожной магистрали Москва-Васюки</p>
        </div>
        <div class="relative bg-[url('../../assets/common/CooperUnionStampPaper.png'),url('../../assets/common/bg.png')] pl-[calc(var(--counter-height)+20px)] py-5 pr-5 before:absolute before:flex before:items-center before:top-5 before:left-5 before:justify-center before:content-['2'] before:w-9 before:h-9 before:rounded-full before:bg-white">
            <p class="ml-4 text-left text-xl leading-6 font-medium">
                Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов
            </p>
        </div>
        <div class="relative bg-[url('../../assets/common/CooperUnionStampPaper.png'),url('../../assets/common/bg.png')] pl-[calc(var(--counter-height)+20px)] py-5 pr-5 grid-rows-subgrid row-span-2 before:absolute before:flex before:items-center before:justify-center before:top-5 before:left-5 before:content-['3'] before:w-9 before:h-9 before:rounded-full before:bg-white">
            <p class="ml-4 text-left text-xl leading-6 font-medium">
                Поднятие сельского хозяйства в радиусе <br>на тысячу километров: производство овощей, фруктов, икры,
                шоколадных конфет
            </p>
        </div>
        <div class="relative bg-[url('../../assets/common/CooperUnionStampPaper.png'),url('../../assets/common/bg.png')] pl-[calc(var(--counter-height)+20px)] py-5 pr-5 before:absolute before:flex before:items-center before:justify-center before:top-5 before:left-5 before:content-['4'] before:w-9 before:h-9 before:rounded-full before:bg-white">
            <p class="ml-4 text-left text-xl leading-6 font-medium">
                Строительство дворца для турнира
            </p>
        </div>
        <div class="relative bg-[url('../../assets/common/CooperUnionStampPaper.png'),url('../../assets/common/bg.png')] pl-[calc(var(--counter-height)+20px)] py-5 pr-5 before:absolute before:flex before:items-center before:justify-center before:top-5 before:left-5 before:content-['5'] before:w-9 before:h-9 before:rounded-full before:bg-white">
            <p class="ml-4 text-left text-xl leading-6 font-medium">
                Размещение гаражей <br>для гостевого автотранспорта
            </p>
        </div>
        <div class="relative bg-[url('../../assets/common/CooperUnionStampPaper.png'),url('../../assets/common/bg.png')] pl-[calc(var(--counter-height)+20px)] py-5 pr-5 before:absolute before:flex before:items-center before:justify-center before:top-5 before:left-5 before:content-['6'] before:w-9 before:h-9 before:rounded-full before:bg-white">
            <p class="ml-4 text-left text-xl leading-6 font-medium">
                Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов
            </p>
        </div>
        <div class="relative flex bg-[url('../../assets/common/CooperUnionStampPaper.png'),url('../../assets/common/bg.png')] pl-[calc(var(--counter-height)+20px)] py-5 pr-5 grid-rows-subgrid col-span-2 before:absolute before:flex before:items-center before:justify-center before:top-5 before:left-5 before:content-['7'] before:w-9 before:h-9 before:rounded-full before:bg-white">
            <p class="ml-4 max-w-[450px] text-left text-xl leading-6 font-medium">
                Создание аэропорта «Большие Васюки» <br>с регулярным отправлением почтовых самолётов и дирижаблей во все
                концы света, включая Лос-Анжелос и Мельбурн
            </p>
            <div class="absolute bottom-0 left-[60%] w-[376px] h-[140px]">
                <img class="absolute block bottom-0 left-0 w-full h-auto -top-[60%]" src="../../../assets/desktop/plane_desktop.png">
            </div>
        </div>
    </div>
</div>
</body>
</html>