<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../vendors/normalize.css">
    <link rel="stylesheet" href="styles.css">
    <title>Event details</title>
</head>
<body>
<div class="container">
    <div class="event__wrapper">
        <div class="event__img-wrapper">
            <div class="event__bg-img"></div>
            <div class="event__bg-img-mask"></div>
        </div>
        <div class="event__table">
            <h3 class="event__heading">и Сеанс <span class="event__subheading">одновременной игры в шахматы на 160 досках</span> гроссмейстера О. Бендера</h3>
            <dl class="event__list">
                <div class="event__item">
                    <dt class="event__name">Место проведения:</dt>
                    <dd class="event__info">Клуб «Картонажник»</dd>
                </div>
                <div class="event__item event__item_top">
                    <dt class="event__name">Дата и время мероприятия:
                    </dt>
                    <dd class="event__info">22 июня 1927 г. в 18:00</dd>
                </div>
                <div class="event__item event__item_top">
                    <dt class="event__name">Стоимость входных билетов:</dt>
                    <dd class="event__info">20 коп.</dd>
                </div>
                <div class="event__item event__item_top">
                    <dt class="event__name">Плата за игру:</dt>
                    <dd class="event__info">50 коп.</dd>
                </div>
                <div class="event__item event__item_top">
                    <dt class="event__name">Взнос на телеграммы:</dt>
                    <dd class="event__info"><span class="event__info_extra">100 руб.</span>&nbsp; 21 руб. 16 коп.</dd>
                </div>
            </dl>
            <p class="event__footer">По всем вопросам обращаться в администрацию к К. Михельсону</p>
        </div>
    </div>
</div>
</body>
</html>