<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Разблокировать для корректного отображение-->
<!--    <link rel="stylesheet" href="../vendors/normalize.css">-->
<!--    <link rel="stylesheet" href="styles.css">-->
    <title>Carousel slide</title>
</head>
<body>
<div class="container">
    <li data-id="1" class="slide">
        <img class="slide__img" src="../../assets/desktop/silhouette_desktop.png" alt="Силуэт шахматиста"/>
        <h3 class="slide__name">Хозе-Рауль Капабланка</h3>
        <p class="slide__title">Чемпион мира по шахматам</p>
        <a class="slide__btn">Подробнее</a>
    </li>
</div>
</body>
</html>