<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Разблокировать для корректного отображение-->
    <!--    <link rel="stylesheet" href="../vendors/normalize.css">-->
    <!--    <link rel="stylesheet" href="styles.css">-->
    <title>Ellipse</title>
</head>
<body>
<div class="ellipse">
    <div class="ellipse__wrapper">
        <img class="ellipse__img ellipse__img-ellipse" src="../../assets/desktop/ellipse_desktop.png"
             alt="Круг желтого цвета"/>
    </div>
    <div class="ellipse__text">
        <img class="ellipse__img ellipse__img-text" src="../../assets/desktop/circle-text_desktop.png"
             alt="Текст по кругу"/>
    </div>
</div>
</body>
</html>