<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Разблокировать для корректного отображение-->
<!--    <link rel="stylesheet" href="../vendors/normalize.css">-->
<!--    <link rel="stylesheet" href="../../layout/_footer.css">-->
    <title>Footer</title>
</head>
<body>
<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__inner">
            <p class="footer__text">
                Все персонажи, события и цитаты являются вымышленными и не принадлежат создателям сайта.
                С подробностями можно познакомиться в главе XXXIV романа Ильи Ильфа и Евгения Петрова
                «Двенадцать стульев».
            </p>
        </div>
    </div>
</footer>
</body>
</html>