<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Разблокировать для корректного отображение-->
<!--    <link rel="stylesheet" href="../vendors/normalize.css">-->
<!--    <link rel="stylesheet" href="styles.css">-->
    <title>Logo</title>
</head>
<body>
<div class="logo">
    <a href="#" target="_blank" class="logo__link">
        <img class="logo__img" src="../../assets/desktop/logo_desktop.png"
             alt="Логотип шахматного клуба"/>
    </a>
</div>
</body>
</html>