@import "../../abstracts/variables";
@import "../../abstracts/mixins";

.logo {
  position: relative;
  height: 2.25rem;
  text-align: left;

  &__link {
    display: inline-block;
    width: auto;
    height: 100%;
    margin-top: 0;
    margin-right: auto;
  }

  &__img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 640px) {
  .logo {
    height: 2rem;
  }
}