<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Разблокировать для корректного отображение-->
<!--    <link rel="stylesheet" href="../vendors/normalize.css">-->
<!--    <link rel="stylesheet" href="styles.css">-->
    <title>Controls</title>
</head>
<body>
<div class="controls" style="--controls-gap:1rem;">
    <div class="controls__wrapper">
        <button type="button"
                class="controls__btn">
            <svg class="controls__icon" width="18px" height="10px" viewBox="0 0 10 18" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M8.07664 15.923L1.15357 8.9999L8.07664 2.07682" stroke="white" stroke-width="1.63636"
                      stroke-linecap="square"/>
            </svg>
        </button>
        <div class="controls__select">
            <button type="button" data-id="1"
                    class="controls__select-btn controls__select-btn_active"></button>
            <button type="button" data-id="2"
                    class="controls__select-btn"></button>
            <button type="button" data-id="3"
                    class="controls__select-btn"></button>
            <button type="button" data-id="4"
                    class="controls__select-btn"></button>
            <button type="button" data-id="5"
                    class="controls__select-btn"></button>
        </div>
        <button type="button"
                class="controls__btn">
            <svg class="controls__icon" width="18px" height="10px" viewBox="0 0 10 18" fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M1.92336 2.0769L8.84644 8.99998L1.92336 15.9231" stroke="white" stroke-width="1.63636"
                      stroke-linecap="square"/>
            </svg>
        </button>
    </div>
</div>
</body>
</html>