// -----------------------------------------------------------------------------
// Шрифты для проекта
// -----------------------------------------------------------------------------

@font-face {
  font-family: "GolosText";
  src: url("../fonts/Golos_Text/GolosText-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather/Merriweather-Regular.ttf") format("truetype");
  font-weight: 400;
}
