<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../dist/styles.css">
    <title>Logo</title>
</head>
<body>
<div class="relative lg:h-9">
  <a href="#" target="_blank" class="mt-0">
    <picture>
      <source media="(max-width: 640px)"
              srcset="../../../assets/mobile/logo_mobile.png"/>
      <source media="(min-width: 860px)"
              srcset="../../../assets/desktop/logo_desktop.png"/>
      <img class="object-cover w-auto h-full"
           src="../../../assets/desktop/logo_desktop.png" alt="Логотип шахматного клуба"/>
    </picture>
  </a>
</div>
</body>
</html>