<!DOCTYPE html>
<html lang="en" style="
      --text-left-offset: 16px;
      --header-height: 180px;
      --header-mb: -116px;
      --header-top: 0px;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
    <link rel="stylesheet" href="../../../dist/styles.css">
    <title>Event description</title>
</head>
<body class="flex flex-col h-full px-5">
<div class="max-w-[1222px] mx-auto">
    <div class="sm:px-0">
        <h3 class="font-Merriweather uppercase text-[28px] font-normal leading-[38px] mb-3">и Сеанс <span
                class="font-Merriweather uppercase font-bold text-red-600">одновременной игры в шахматы <br>на 160 досках</span>
            гроссмейстера <br>О. Бендера</h3>
    </div>
    <div class="mt-7 border-gray-100">
        <dl class="divide-y-2 divide-yac-wolf-100">
            <div class="sm:divide-x-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-xl sm:pt-0 pt-4 font-normal text-yac-gray-100 leading-6 sm:leading-[56px]">Место
                    проведения:
                </dt>
                <dd class="text-xl sm:pb-0 sm:pl-6 pb-4 font-semibold text-yac-jet-100 leading-6 mt-3 sm:leading-[56px] sm:col-span-2 sm:mt-0">
                    Клуб «Картонажник»
                </dd>
            </div>
            <div class="sm:divide-x-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-xl sm:pt-0 pt-4 font-normal text-yac-gray-100 leading-6 sm:leading-[56px]">Дата и время
                    мероприятия:
                </dt>
                <dd class="text-xl sm:pb-0 sm:pl-6 pb-4 font-semibold text-yac-jet-100 leading-6 mt-3 sm:leading-[56px] sm:col-span-2 sm:mt-0">
                    22 июня 1927 г. в 18:00
                </dd>
            </div>
            <div class="sm:divide-x-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-xl sm:pt-0 pt-4 font-normal text-yac-gray-100 leading-6 sm:leading-[56px]">Стоимость
                    входных билетов:
                </dt>
                <dd class="text-xl sm:pb-0 sm:pl-6 pb-4 font-semibold text-yac-jet-100 leading-6 mt-3 sm:leading-[56px] sm:col-span-2 sm:mt-0">
                    20 коп.
                </dd>
            </div>
            <div class="sm:divide-x-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-xl sm:pt-0 pt-4 font-normal text-yac-gray-100 leading-6 sm:leading-[56px]">Плата за
                    игру:
                </dt>
                <dd class="text-xl sm:pb-0 sm:pl-6 pb-4 font-semibold text-yac-jet-100 leading-6 mt-3 sm:leading-[56px] sm:col-span-2 sm:mt-0">
                    50 коп.
                </dd>
            </div>
            <div class="sm:divide-x-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-xl sm:pt-0 pt-4 font-normal text-yac-gray-100 leading-6 sm:leading-[56px]">Взнос на
                    телеграммы:
                </dt>
                <dd class="text-xl sm:pb-0 sm:pl-6 pb-4 font-semibold text-yac-jet-100 leading-6 mt-3 sm:leading-[56px] sm:col-span-2 sm:mt-0">
                    <span class="line-through decoration-yac-red-100">100 руб.</span>&nbsp; 21 руб. 16 коп.
                </dd>
            </div>
        </dl>
        <p class="mt-6 text-lg leading-[22px] text-yac-blue-100 font-normal">По всем вопросам обращаться в администрацию
            к К. Михельсону</p>
    </div>
</div>
</body>
</html>