<!DOCTYPE html>
<html lang="en" style="
      --animation-duration: 12000ms;
      --bullet-w: 6px;
      --marquee-py: 18px;
      ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">
    <link rel="stylesheet" href="../../../dist/styles.css">
    <title>Marquee</title>
</head>
<body>
<div class="mx-auto max-w-[1222px] h-full px-5 pt-[18px]">
    <div class="group flex overflow-hidden bg-yac-red-100 font-Merriweather font-normal text-white uppercase flex-row" style="--marquee-duration: 12000ms;">
        <div class="flex shrink-0 justify-around animate-marquee flex-row group-hover:[animation-play-state:paused]">
            <div class="relative w-auto cursor-pointer overflow-hidden py-[var(--marquee-py)] px-3">
                <p class="text-[22px] leading-[1.1]">Дело помощи утопающим&nbsp;&mdash;&nbsp;дело рук самих утопающих!</p>
            </div>
            <span class="inline-flex justify-center items-center w-1.5 text-white">&#9679;</span>
            <div class="relative w-auto cursor-pointer overflow-hidden py-[var(--marquee-py)] px-3">
                <p class="text-[22px] leading-[1.1]">Шахматы двигают вперёд не только культуру, но и экономику!</p>
            </div>
            <span class="inline-flex justify-center items-center w-1.5 text-white">&#9679;</span>
            <div class="relative w-auto cursor-pointer overflow-hidden py-[var(--marquee-py)] px-3">
                <p class="text-[22px] leading-[1.1]">Лёд тронулся, господа присяжные заседатели!</p>
            </div>
            <span class="inline-flex justify-center items-center w-1.5 text-white">&#9679;</span>
        </div>
        <div class="flex shrink-0 justify-around animate-marquee flex-row group-hover:[animation-play-state:paused]">
            <div class="relative w-auto cursor-pointer overflow-hidden py-[var(--marquee-py)] px-3">
                <p class="text-[22px] leading-[1.1]">Дело помощи утопающим&nbsp;&mdash;&nbsp;дело рук самих утопающих!</p>
            </div>
            <span class="inline-flex justify-center items-center w-1.5 text-white">&#9679;</span>
            <div class="relative w-auto cursor-pointer overflow-hidden py-[var(--marquee-py)] px-3">
                <p class="text-[22px] leading-[1.1]">Шахматы двигают вперёд не только культуру, но и экономику!</p>
            </div>
            <span class="inline-flex justify-center items-center w-1.5 text-white">&#9679;</span>
            <div class="relative w-auto cursor-pointer overflow-hidden py-[var(--marquee-py)] px-3">
                <p class="text-[22px] leading-[1.1]">Лёд тронулся, господа присяжные заседатели!</p>
            </div>
            <span class="inline-flex justify-center items-center w-1.5 text-white">&#9679;</span>
        </div>
    </div>
</div>
</body>
</html>