<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../dist/styles.css">
    <title>Footer</title>
</head>
<body>
<footer class="mt-0 bg-yac-almond-100" style="--footer-pb-lg: 72px; --footer-pb: 60px;">
  <div class="mx-auto w-full max-w-[1222px] px-5 ">
    <div class="relative pt-10 pb-[var(--footer-pb)] lg:pb-[var(--footer-pb-lg)]">
      <div class="mx-auto">
        <p class="text-base text-yac-jet-100/60 font-Golos font-normal leading-[1.2]">
          Все персонажи, события и цитаты являются вымышленными и не принадлежат создателям сайта.
          С подробностями можно познакомиться в главе XXXIV романа Ильи Ильфа и Евгения Петрова
          «Двенадцать стульев».
        </p>
      </div>
    </div>
  </div>
</footer>
</body>
</html>